body {
  background-color: #0f5f53;
}

.penitentes-logo {
    width: 200px;
}

.title-text {
    color: #fff;
}

.table-headers tr th{
    background-color: #000;
    color: #fff;
}

.inventory-summary {
    color: #fff;
}